<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkNvbXBhdGliaWxp
		dHkgQXBwIiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMi
		Olt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJtYWNvcyIsInZlcnNp
		b24iOiIxMC4xNSJ9LHsib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6InR2
		b3MiLCJ2ZXJzaW9uIjoiMTEifSx7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5h
		bWUiOiJ3YXRjaG9zIiwidmVyc2lvbiI6IjQifSx7Im9wdGlvbnMiOltdLCJw
		bGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTUuMiJ9XSwicHJvZHVj
		dHMiOlt7Im5hbWUiOiJDb21wYXRpYmlsaXR5IExpYnJhcnkiLCJzZXR0aW5n
		cyI6W10sInRhcmdldHMiOlsiQ29tcGF0aWJpbGl0eSJdLCJ0eXBlIjp7Imxp
		YnJhcnkiOlsiYXV0b21hdGljIl19fSx7Im5hbWUiOiJDb21wYXRpYmlsaXR5
		IEFwcCIsInNldHRpbmdzIjpbeyJ0ZWFtSWRlbnRpZmllciI6WyIzUVBWODk0
		QzMzIl19LHsiZGlzcGxheVZlcnNpb24iOlsiMS45LjIiXX0seyJidW5kbGVW
		ZXJzaW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6
		eyJwcmVzZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6Im9y
		YW5nZSJ9fX0sImFwcENhdGVnb3J5Ijp7InJhd1ZhbHVlIjoicHVibGljLmFw
		cC1jYXRlZ29yeS5kZXZlbG9wZXItdG9vbHMifSwiYXBwSWNvbiI6eyJhc3Nl
		dCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0aWVzIjpbeyJwdXJw
		b3NlIjoib3V0Z29pbmdOZXR3b3JrQ29ubmVjdGlvbnMifV0sInN1cHBvcnRl
		ZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1cHBvcnRlZElu
		dGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRz
		Y2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFp
		dFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZhbWlsaWVzIjpb
		InBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiQ29tcGF0aWJpbGl0eVRlc3RB
		cHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJn
		ZXRNYXAiOnsiQ29tcGF0aWJpbGl0eSI6eyJkZXBlbmRlbmNpZXMiOltdLCJl
		eGNsdWRlIjpbXSwibmFtZSI6IkNvbXBhdGliaWxpdHkiLCJwYWNrYWdlQWNj
		ZXNzIjpmYWxzZSwicGF0aCI6IlNvdXJjZXMiLCJyZXNvdXJjZXMiOltdLCJz
		ZXR0aW5ncyI6W10sInR5cGUiOiJyZWd1bGFyIn0sIkNvbXBhdGliaWxpdHlU
		ZXN0QXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3siYnlOYW1lIjpbIkNv
		bXBhdGliaWxpdHkiLG51bGxdfV0sImV4Y2x1ZGUiOlsiUmVzb3VyY2VzIl0s
		Im5hbWUiOiJDb21wYXRpYmlsaXR5VGVzdEFwcE1vZHVsZSIsInBhY2thZ2VB
		Y2Nlc3MiOmZhbHNlLCJwYXRoIjoiRGV2ZWxvcG1lbnQiLCJyZXNvdXJjZXMi
		Olt7InBhdGgiOiJQbGF5Z3JvdW5kc0Fzc2V0cy54Y2Fzc2V0cyIsInJ1bGUi
		OnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1
		dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1
		ZGUiOltdLCJuYW1lIjoiQ29tcGF0aWJpbGl0eSIsInBhY2thZ2VBY2Nlc3Mi
		OmZhbHNlLCJwYXRoIjoiU291cmNlcyIsInJlc291cmNlcyI6W10sInNldHRp
		bmdzIjpbXSwidHlwZSI6InJlZ3VsYXIifSx7ImRlcGVuZGVuY2llcyI6W3si
		YnlOYW1lIjpbIkNvbXBhdGliaWxpdHkiLG51bGxdfV0sImV4Y2x1ZGUiOlsi
		UmVzb3VyY2VzIl0sIm5hbWUiOiJDb21wYXRpYmlsaXR5VGVzdEFwcE1vZHVs
		ZSIsInBhY2thZ2VBY2Nlc3MiOmZhbHNlLCJwYXRoIjoiRGV2ZWxvcG1lbnQi
		LCJyZXNvdXJjZXMiOlt7InBhdGgiOiJQbGF5Z3JvdW5kc0Fzc2V0cy54Y2Fz
		c2V0cyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwi
		dHlwZSI6ImV4ZWN1dGFibGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lv
		biI6IjUuOC4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		6GxkznhTvBhu8VW+c8StPiQYcvw/3h4OIol1B2Sb70Q=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
