<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkNvbXBhdGliaWxp
		dHkiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0sInBsYXRmb3JtcyI6W3si
		b3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6Im1hY29zIiwidmVyc2lvbiI6
		IjEwLjE1In0seyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoidHZvcyIs
		InZlcnNpb24iOiIxMSJ9LHsib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6
		IndhdGNob3MiLCJ2ZXJzaW9uIjoiNCJ9LHsib3B0aW9ucyI6W10sInBsYXRm
		b3JtTmFtZSI6ImlvcyIsInZlcnNpb24iOiIxNS4yIn1dLCJwcm9kdWN0cyI6
		W3sibmFtZSI6IkNvbXBhdGliaWxpdHkgTGlicmFyeSIsInNldHRpbmdzIjpb
		XSwidGFyZ2V0cyI6WyJDb21wYXRpYmlsaXR5Il0sInR5cGUiOnsibGlicmFy
		eSI6WyJhdXRvbWF0aWMiXX19LHsibmFtZSI6IkNvbXBhdGliaWxpdHkiLCJz
		ZXR0aW5ncyI6W3sidGVhbUlkZW50aWZpZXIiOlsiM1FQVjg5NEMzMyJdfSx7
		ImRpc3BsYXlWZXJzaW9uIjpbIjEuNi43Il19LHsiYnVuZGxlVmVyc2lvbiI6
		WyIxIl19LHsiaU9TQXBwSW5mbyI6W3siYWNjZW50Q29sb3IiOnsicHJlc2V0
		Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicmF3VmFsdWUiOiJvcmFuZ2UifX19
		LCJhcHBDYXRlZ29yeSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdv
		cnkuZGV2ZWxvcGVyLXRvb2xzIn0sImFwcEljb24iOnsiYXNzZXQiOnsibmFt
		ZSI6IkFwcEljb24ifX0sImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6Im91
		dGdvaW5nTmV0d29ya0Nvbm5lY3Rpb25zIn1dLCJzdXBwb3J0ZWREZXZpY2VG
		YW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJbnRlcmZhY2VP
		cmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5kc2NhcGVSaWdo
		dCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJhaXRVcHNpZGVE
		b3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6WyJwYWQiXX19
		fV19XX1dLCJ0YXJnZXRzIjpbIkNvbXBhdGliaWxpdHlUZXN0QXBwTW9kdWxl
		Il0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7
		IkNvbXBhdGliaWxpdHkiOnsiZGVwZW5kZW5jaWVzIjpbXSwiZXhjbHVkZSI6
		W10sIm5hbWUiOiJDb21wYXRpYmlsaXR5IiwicGFja2FnZUFjY2VzcyI6ZmFs
		c2UsInBhdGgiOiJTb3VyY2VzIiwicmVzb3VyY2VzIjpbXSwic2V0dGluZ3Mi
		OltdLCJ0eXBlIjoicmVndWxhciJ9LCJDb21wYXRpYmlsaXR5VGVzdEFwcE1v
		ZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7ImJ5TmFtZSI6WyJDb21wYXRpYmls
		aXR5IixudWxsXX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkNvbXBhdGliaWxp
		dHlUZXN0QXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6ZmFsc2UsInBhdGgi
		OiJEZXZlbG9wbWVudCIsInJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNl
		cyIsInJ1bGUiOnsicHJvY2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlw
		ZSI6ImV4ZWN1dGFibGUifX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6
		W10sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQ29tcGF0aWJpbGl0eSIsInBhY2th
		Z2VBY2Nlc3MiOmZhbHNlLCJwYXRoIjoiU291cmNlcyIsInJlc291cmNlcyI6
		W10sInNldHRpbmdzIjpbXSwidHlwZSI6InJlZ3VsYXIifSx7ImRlcGVuZGVu
		Y2llcyI6W3siYnlOYW1lIjpbIkNvbXBhdGliaWxpdHkiLG51bGxdfV0sImV4
		Y2x1ZGUiOltdLCJuYW1lIjoiQ29tcGF0aWJpbGl0eVRlc3RBcHBNb2R1bGUi
		LCJwYWNrYWdlQWNjZXNzIjpmYWxzZSwicGF0aCI6IkRldmVsb3BtZW50Iiwi
		cmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9j
		ZXNzIjp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9
		XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS44LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		ulwHm/uHizqhDBSusbcsTOWyeh/evcR6pes9cbU6/Ew=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
